# Entornos virtuales
venv/
inventix_env/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Base de datos
db.sqlite3
*.sqlite3
*.sqlite

# Archivos estáticos
staticfiles/
media/
*.jpg
*.png
*.jpeg
*.gif

# Configuración local
.env
local_settings.py
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Otros
.DS_Store
Thumbs.db
*.bak
*.tmp