<!-- templates/usuarios/form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ titulo }} - Inventix{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4><i class="fas fa-user"></i> {{ titulo }}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    {% if user_form %}
                        {{ user_form|crispy }}
                        {{ perfil_form|crispy }}
                    {% else %}
                        {{ form|crispy }}
                    {% endif %}
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> {{ accion }}
                        </button>
                        <a href="{% url 'usuarios:lista' %}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}